<mat-grid-list cols="4" class="container">
  <h1>Add Product to Divisions</h1>
  <div class="add-product--container">
    <mat-card class="add-product--card">
      <img
        src="https://previews.123rf.com/images/lightvisionftb/lightvisionftb1603/lightvisionftb160300080/54604150-productos-alimenticios-de-consumo-habitual-comunes-iconos-de-dibujos-animados-conjunto-de-provisi%C3%B3n-.jpg?fj=1"
        alt="Photo of a Shiba Inu"
        width="100px"
        class="add-product--img"
      />

      <h2>bakery</h2>
      <div class="add-product--action">
        <button mat-button class="add-product--btn" (click)="openAddProduct()">
          <mat-icon aria-hidden="false" aria-label="Example add icon"
            >add</mat-icon
          >
          Add Product
        </button>
      </div>
    </mat-card>

    <mat-card class="add-product--card">
      <img
        src="https://previews.123rf.com/images/lightvisionftb/lightvisionftb1603/lightvisionftb160300080/54604150-productos-alimenticios-de-consumo-habitual-comunes-iconos-de-dibujos-animados-conjunto-de-provisi%C3%B3n-.jpg?fj=1"
        alt="Photo of a Shiba Inu"
        width="100px"
        class="add-product--img"
      />

      <h2>Deli</h2>
      <div class="add-product--action">
        <button mat-button class="add-product--btn" (click)="openAddProduct()">
          <mat-icon aria-hidden="false" aria-label="Example add icon"
            >add</mat-icon
          >
          Add Product
        </button>
      </div>
    </mat-card>
  </div>
</mat-grid-list>
